body {
	background-image: url("images/Crayon.jpg");
	font-family:"Comic Sans MS", cursive, sans-serif;
}
h1{
	text-align: center;
}

h2{
	text-align: center;
}
h4 {
	font-size:50px;
}
div.login_body {
	background-image: url("images/Paper.jpg");
	width:70%;
	height:auto;
	margin:30px auto;
	padding:auto;
	border:1px solid #FFE39B;
	box-shadow: 3px 3px grey;
	text-align:center;
	white-space:pre-line;
}
form {
	display:block;
	margin:auto;
}
input.login {
	margin-top: 20px;
	margin-left:10px;
}
input.login[type=text] {
	background-image: url("images/user.png");
	background-size: 15px 15px;
	background-position: 12px 12px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	border: 2px solid #ccc;
}
input.login[type=password] {
	background-image: url("images/password.png");
	background-size: 15px 15px;
	background-position: 12px 12px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	border: 2px solid #ccc;
	
}
input.board {
	background-image: url("images/Paper.jpg");
	height:90px;
	width: 90px;
	font-size: 50px;
	text-align:center;
	color: purple;
}
button {
	text-align:center;
	margin:auto;
	margin-top:10px;
}
h1.rainbow {
	text-align:center;
	font-weight:900;
	-webkit-animation: rainbow 5s infinite;
	animation: rainbow 5s infinite;
}
table.scoreboard {
	top: 50%;
	left:20%;
	position:absolute;
	text-align:center;
	color: red;
	width: 150px;
}
table.scoreboard2 {
	top: 50%;
	left:65%;
	position:absolute;
	text-align:center;
	padding:0;
	margin:0;
	color: blue;
	width: 150px;
}
th {
	padding: 0;
	margin: 0;
	font-size:30px;
}
td {
	padding-left: 5px;
	padding-right:5px;
}
.error {
	color: #FF0000;
}
/* Animations */

@-webkit-keyframes rainbow {
	0%{color: orange;}
	10%{color: purple;}
	20%{color: red;}
	30%{color: CadetBlue;}
	40%{color: yellow;}
	50%{color: coral;}
	60%{color: green;}
	70%{color: cyan;}
	80%{color: DeepPink;}
	90%{color: DodgerBlue;}
	100%{color: orange;}
	
}
@keyframes rainbow {
	0%{color: orange;}
	10%{color: purple;}
	20%{color: red;}
	30%{color: CadetBlue;}
	40%{color: yellow;}
	50%{color: coral;}
	60%{color: green;}
	70%{color: cyan;}
	80%{color: DeepPink;}
	90%{color: DodgerBlue;}
	100%{color: orange;}
	
}